main{
    padding: 20px;
}

h1, h2{
    color: var(--main-color);
}

/*Article presentation section*/

.article-presentation{
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr;
    grid-template-rows: 0fr 0fr 0fr;
    grid-template-areas: "title title title"
    "preview-selection preview-image product-info"
    "description description description";
    gap: 10px;
}

.title{
    grid-area: title;
    font-size: 32px;
    border-bottom: solid 2px var(--text-color);
}

.preview-selection-container{
    grid-area: preview-selection;
    padding-right: 5px;
    overflow: auto;
}

.preview-selection{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.preview-selection a{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.preview-selection img{
    width: 100%;

    background-color: var(--secondary-color);
    border-radius: 10px;
}

.preview-image{
    grid-area: preview-image;
}

.preview-image img{
    max-width: 100%;
    max-height: 600px;
}

.infos-container{
    grid-area: product-info;
}

.infos{
    padding: 8px;

    background-color: var(--secondary-color);
    border: solid 3px var(--secondary-color);
    border-radius: 5px;

    box-shadow: 5px 5px 5px rgba(.5, .5, .5, .5);
}

.infos > *{
    font-size: 18px;
    padding: 3px 0px;
}

.price{
    font-size: 22px;
    font-weight: bolder;
}

.stock-state{
    color: greenyellow;
    font-weight: bolder;
}

.infos > button{
    display: block;
    margin: 0px auto;
    margin-top: 20px;

    width: 90%;
    background-color: var(--main-color);
}

.description{
    grid-area: description;
    padding: 10px 0px;
    border-top: solid 2px var(--text-color);
}

.description > h2{
    font-size: 26px;
}

.description > p, .description > ul{
    font-size: 18px;
    text-align: justify;
}

.description > ul{
    list-style: none;
    padding: 5px 0px;
}

.description > ul > li::before{
    content: "✔ ";
}

/*Commentary section*/

.commentaries-container{
    padding: 10px 0px;
    border-top: solid 2px var(--text-color);
}

.commentary{
    margin: 15px 0px;
    padding: 10px;

    background-color: var(--secondary-color);
    border-radius: 5px;

    box-shadow: 5px 5px 5px rgba(.5, .5, .5, .5);
}

.username, .add-username{
    font-size: 22px;
    font-weight: bolder;
}

.commentary-title, .add-commentary-title, .add-rating{
    font-size: 18px;
    font-weight: bolder;
}

.commentary .rating{
    color: var(--main-color);
}

.commentary-text{
    text-align: justify;
}

.add-commentary{
    margin: 0px auto;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;

    background-color: var(--main-color);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(.5, .5, .5, .5);
}

.add-commentary > *{
    display: block;
    margin-bottom: 7px;
}

.add-commentary > *:last-child{
    margin-bottom: 0px;
}

.add-title{
    color: var(--text-color);
}

.add-username, .add-commentary-title{
    width: 100%;
    max-width: 300px;
}

.add-commentary-title-and-rating > *{
    display: inline-block;
}

.add-commentary-text{
    padding: 5px;
    width: 100%;
    min-height: 150px;
    box-sizing: border-box;

    resize: vertical;
}

.add-commentary > button{
    margin-left: auto;
    padding: 5px;

    font-size: 14px;
}

/*Responsive design*/

@media (max-width: 600px), (max-aspect-ratio: 1/1){
    .article-presentation{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:"title title title"
        "preview-selection preview-image preview-image"
        "description description product-info";
    }

    .preview-image{
        margin-right: 0px;
    }
}

@media (max-aspect-ratio: 5/6){
    .article-presentation{
        grid-template-columns: 1fr;
        grid-template-areas:"title" "preview-image" "preview-selection"
        "product-info" "description";
    }

    .preview-image > img{
        max-height: 100%;
    }

    .preview-selection-container{
        height: 120px;
        padding-bottom: 5px;
    }
    
    .preview-selection-container a{
        flex: 0;
        height: 100%;
    }
    
    .preview-selection-container img{
        width: auto;
        height: 100%;
    }

    .preview-selection{
        flex-direction: row;
        height: 100px;
    }

    .infos{
        margin: 0px auto;
        width: max-content;
        padding: 20px 50px;
    }
}