/*Header adjustements*/

header{
    grid-template-columns: 1fr 0fr;
    grid-template-rows: 0fr 1fr;
    grid-template-areas: "title title" "search-bar cart";
}

header h1{
    text-align: center;
    font-size: 36px;
    margin-bottom: 0px;
}

.search-bar{
    margin: 10px auto;
    max-width: 800px;
    width: 95%;
}

.search-bar > input, .search-bar > button, .cart{
    width: 36px;
    height: 36px;
}

.search-bar > input{
    font-size: 26px;
}

/*Main styles*/

main{
    display: block;
    margin: 0px 5%;
    padding: 20px;
    
    box-sizing: border-box;

    background-color: #30475e;
}

main > h1{
    margin-bottom: 20px;

    color: #f2a365;
    font-size: 32px;
    text-decoration: underline;
}

.top-products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

a.product{
    flex: 1 32%;
    display: block;
    height: max-content;

    text-decoration: none;
}

a.product:hover h2{
    text-decoration: underline;
}

a.product h2{
    margin-bottom: 10px;
}

.product > img{
    width: 100%;
}

/*Responsive design*/

@media (max-width: 1000px){
    main{
        margin: 0px;
        width: 100%;
    }
}

@media (max-aspect-ratio:  10/15){
    a.product{
        flex: 1 100%;
    }
}