main{
    display: flex;
    width: 100%;
}

/*filter bar*/

.filter-bar{
    flex: 0 content;
    padding: 10px;

    background-color: #222831;
    border-right: solid 2px #f2a365;
}

.filter-bar > h1{
    padding-bottom: 10px;

    color: #f2a365;
    font-size: 18px;
}

.filter{
    padding-bottom: 4px;
}

.filter label{
    font-size: 16px;
}

.price-field > input{
    width: 50px;
    color: #222831;
}

.star-field > label{
    font-size: 20px;
    cursor: pointer;
}

.star-field > input[type="radio"]{
    display: none;
}

.star-field > input[type="radio"]:checked + label{
    color: #f2a365;
    font-weight: bolder;
    text-decoration: underline;
}

.filters-container > button{
    display: block;
    padding: 5px;
    margin: 0px auto;
    
    color: #222831;
    background-color: #f2a365;
}

/*results container*/

.results-container{
    flex: 1;
    padding: 20px;

    background-color: #222831;
}

.results-container > h1{
    color: #ececec;
    font-size: 22px;
    margin-bottom: 5px;
}

.result{
    display: flex;
    margin-bottom: 15px;

    width: 100%;
    height: 150px;
    box-sizing: border-box;

    text-decoration: none;

    background-color: #30475e;
    border-radius: 5px;

    box-shadow: 5px 5px 5px rgba(.5, .5, .5, .5);
}

.result:last-child{
    margin-bottom: 0px;
}

.result:hover .article-name{
    text-decoration: underline;
}

.preview{
    position: relative;
    flex:0 150px;
    height: 150px;
}

.preview > img{
    margin: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-height: 90%;
    max-width: 90%;
    width: auto;
    height: auto;
}

.infos{
    flex: 1;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.article-name{
    flex: 0;
    color: #f2a365;
    font-size: 26px;
}

.article-sub-infos{
    flex: 0;
}

.article-sub-infos > span{
    font-size: 18px;
    padding-right: 10px;
}

.price{
    font-weight: bolder;
}

.article-overview{
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-wrap: nowrap;

    font-size: 14px;
}

/*Responsive design*/

@media (max-width: 600px), (max-aspect-ratio: 1/1){
    main{
        flex-direction: column;
    }

    .filter-bar{
        border-right: none;
        border-bottom: solid 2px #f2a365;
    }
}